@*@page "/account/manage"
@using IPSTemplate.Dal.Models.Identity;

@inject ViewModel<TEIdentityUser> ViewModel

<IPSPageTop Title="Urejanje računa" TitleIconClass="fas fa-key" />

<IPSCard Class="col-4">
    <IPSCardHeader>Nastavitev gesla</IPSCardHeader>
    <IPSCardBody>
        <IPSLabel For="col_password">Novo geslo</IPSLabel>
        <div class="input-group">
            <TelerikTextBox DebounceDelay=0 Class="form-control" Password=HidePassword1 @bind-Value=@Password1 AutoComplete="current-password"></TelerikTextBox>
            <div class="input-group-append">
                <IPSButton Class="ms-1" Type=IPSBlazor.Components.ButtonType.Button Color=Color.Primary IconClass="@(HidePassword1 ? "fa fa-eye" : "fa fa-eye-slash")" OnClick="() => HidePassword1 = !HidePassword1"></IPSButton>
            </div>
        </div>
        <br />
        <IPSLabel For="col_password">Ponovi novo geslo</IPSLabel>
        <div class="input-group">
            <TelerikTextBox DebounceDelay=0 Class="form-control" Password=HidePassword2 @bind-Value=@Password2 AutoComplete="current-password"></TelerikTextBox>
            <div class="input-group-append">
                <IPSButton Class="ms-1" Type=IPSBlazor.Components.ButtonType.Button Color=Color.Primary IconClass="@(HidePassword2 ? "fa fa-eye" : "fa fa-eye-slash")" OnClick="() => HidePassword2 = !HidePassword2"></IPSButton>
            </div>
        </div>
        <br />
        <IPSButton Color="Color.Success" OnClick=@SetNewPassword>Potrdi</IPSButton>
    </IPSCardBody>
</IPSCard>*@